* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }


}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #D19F97;
    font-size: 1.3rem;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    // color: #fff;
}

.active {
    color: black;
}

.start{
    padding: 1rem 2.3rem;
}