@font-face {
    font-family: 'Integral';
    src: url('../fonts/Fontspring-DEMO-integralcf-regularoblique.otf');
}

@font-face {
    font-family: 'Palo';
    src: url('../fonts/TypeUnion\ -\ Palo\ Wide\ Light.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Palo';
    src: url('../fonts/TypeUnion\ -\ Palo\ Compressed\ Medium.otf');
    font-size: medium;
}

@font-face {
    font-family: 'Tommy';
    src: url('../fonts/MADE\ TOMMY\ Medium\ Outline_PERSONAL\ USE.otf');
}

@font-face {
    font-family: 'General Sans';
    src: url('../fonts/GeneralSans-Semibold.woff') format(woff),
         url('../fonts/GeneralSans-Semibold.woff2') format(woff2);
}

@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-SemiBold.woff') format(woff),
         url('../fonts/Teko-SemiBold.woff2') format(woff2);
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff') format(woff),
         url('../fonts/Oswald-Bold.woff2') format(woff2);
}