$font-family-integral: "Integral", sans-serif;
$font-family-palo : "Palo", sans-serif;
$font-family-tommy : "Tommy", sans-serif;
$font-family-general: "General Sans", sans-serif;
$font-family-teko : 'Teko', sans-serif;
$font-family-oswald : 'Oswald', sans-serif;

$font-size-paragraph : 2vw;
$font-size-title : 5rem;
$font-size-medium: 2.8vw